header, main, footer {
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgrey;
}
header img {
    height: 175px;
    width: 170px;
    padding: 5px;
    display: inline;
}
header h1{
    vertical-align:text-top;
    width: 50%;
    margin-left: 200px;
    margin-top: -180px;
}

header h1 span {
    font-size: 0.65em;
}
header p {
    margin-left: 200px;
    margin-top: -10px;
    line-height: 1.8em;
    border-bottom: 5px solid lightgrey;
}

main section.contacts{
   padding: 0 15px;
}
main section.contacts ul {
    line-height: 1.5em;
    margin-top: -10px;
}

main section.education {
    padding: 0 15px;
}
main section.education ul {
    margin-top: -10px;
}
main section.education li {
    padding: 5px;
}
main section.experience{
    padding: 0 15px;
}

.experience details {
    padding: 5px 0;
    margin-left: 25px;
}

main section.skills{
    padding: 5px 15px;
}
main section.skills ul{
    margin-top: -10px; 
}
main section.skills li {
    padding: 2px;    
}

footer{
    display: block;
}   
footer ul li {
    display: inline-block;
    padding: 5px;
}

footer img {
    margin-top: 10px;
    vertical-align: middle;
}
