header, main, footer {
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgrey;
    

}
header img{
    height: 180px;
    width: 160px;
    border: 1px solid #f2f3f3;
    padding: 10px;
}

header h1{
    position: absolute;
    left: 800px;
}
header h1 span {
    font-size: 0.65em;
}
header p {
    position: absolute;
    display: block;
    left: 800px;
    top: 100px;
    line-height: 1.5em;
}
main section.contacts{
    background-color: lightgrey;
    padding: 0 15px;
}

main section.education {
    background-color: lightgrey;
    padding: 0 15px;
}

main section.education li {
    padding: 5px;
}
main section.experience{
    background-color: lightgrey;
    padding: 0 15px;
}

.experience details {
    padding: 5px 0;
}

main section.contacts ul {
    line-height: 1.5em;
}

main section.skills{
    background-color: lightgrey;
    padding: 5px 15px;
}

main section.skills li {
    padding: 4px;
}

footer{
    display: block;
    background-color: lightgrey;
}   
footer ul li {
    display: inline-block;
    padding: 5px;
}

footer img {
    margin-top: 10px;
    vertical-align: middle;
}
